# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
.next/
out/
build

# environment
.env*.local
.env

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
